body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}

#hero {
  width: 592px;
  margin: 72px auto 72px;
  display: fixed;
  align-items: center;
  justify-content: center;
}

#img1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  text-align: center;
}

h1 span {
  font-weight: bold;

  margin-bottom: 32px;
}

span,
a {
  color: #ee24ff;
}

p,
#footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

#footer a + a {
  margin-left: 28px;
}

.line {
  width: 568px;
  height: 0;

  margin: 0 auto 8px;

  border: 1px solid #eceff2;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
}
